{% load i18n static %}
{% if result_hidden_fields %}
<div class="hiddenfields">{# DIV for HTML validation #}
{% for item in result_hidden_fields %}{{ item }}{% endfor %}
</div>
{% endif %}
<head>
  <link href="{% static 'vendor/datatables-plugins/dataTables.bootstrap.css' %}" rel="stylesheet">

  <!-- DataTables Responsive CSS -->
  <link href="{% static 'vendor/datatables-responsive/dataTables.responsive.css' %}" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">

            <!-- /.panel-heading -->
            <div class="panel-body">
            {% if result_hidden_fields %}
              <div class="hiddenfields">{# DIV for HTML validation #}
              {% for item in result_hidden_fields %}{{ item }}{% endfor %}
              </div>
              {% endif %}
                {% if results %}
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="result_list">
                        <thead>
                          <tr>
                          {% for header in result_headers %}
                          <th scope="col" {{ header.class_attrib }}>
                             {% if header.sortable %}
                               {% if header.sort_priority > 0 %}
                                 <div class="sortoptions">
                                   <a class="sortremove" href="{{ header.url_remove }}" title="{% trans "Remove from sorting" %}"></a>
                                   {% if num_sorted_fields > 1 %}<span class="sortpriority" title="{% blocktrans with priority_number=header.sort_priority %}Sorting priority: {{ priority_number }}{% endblocktrans %}">{{ header.sort_priority }}</span>{% endif %}
                                   <a href="{{ header.url_toggle }}" class="toggle {% if header.ascending %}ascending{% else %}descending{% endif %}" title="{% trans "Toggle sorting" %}"></a>
                                 </div>
                               {% endif %}
                             {% endif %}
                               <div class="text">{% if header.sortable %}<a href="{{ header.url_primary }}">{{ header.text|capfirst }}</a>{% else %}<span>{{ header.text|capfirst }}</span>{% endif %}</div>
                               <div class="clear"></div>
                          </th>{% endfor %}
                        </tr>
                      </thead>
                      <tbody>

                        {% for result in results %}
                          {% if result.form and result.form.non_field_errors %}
                              <tr class="odd gradeX"><td colspan="{{ result|length }}">{{ result.form.non_field_errors }}</td></tr>
                          {% endif %}
                          <tr class="{% cycle 'row1' 'row2' %}">{% for item in result %}{{ item }}{% endfor %}</tr>
                        {% endfor %}
                      </tbody>
                  </table>
                {% endif %}
                  <!-- /.table-responsive -->
              </div>
              <!-- /.panel-body -->
          </div>
          <!-- /.panel -->
      </div>
      <!-- /.col-lg-12 -->
  </div>
</body>