{% load i18n static %}

{% load log %}
{% get_admin_log 10 as admin_log for_user user %}
{% if not admin_log %}
<p>{% trans 'None available' %}</p>
{% else %}

{% for entry in admin_log %}
    <a href="#" class="list-group-item">
        {% if entry.is_addition %}
            <i class="fa fa-plus fa-fw"></i>
        {% endif %}

        {% if entry.is_change %}
            <i class="fa fa-edit fa-fw"></i>
        {% endif %}

        {% if entry.is_deletion %}
            <i class="fa fa-trash fa-fw"></i>
        {% endif %}

        {% if entry.is_deletion or not entry.get_admin_url %}
            <span class="mini quiet">{{ entry.object_repr }}</span>
        {% else %}
            <span class="mini quiet">{{ entry.object_repr }}</span>
        {% endif %}
        <br>
        {% if entry.content_type %}
            <span class="mini quiet">{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</span>
        {% else %}
            <span class="mini quiet">{% trans 'Unknown content' %}</span>
        {% endif %}
    </a>
{% endfor %}
{% endif %}