{% load i18n static %}
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="{% url 'admin:index' %}"><i class="fa fa-dashboard fa-fw"></i> Home</a>
            </li>
            {% for app in app_list %}
                <li>
                    <a href="" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}"><i class="fa fa-star"></i> {{ app.name }}<span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                    {% for model in app.models %}
                        <li>
                        {% if model.admin_url %}
                            <li><a href="{{ model.admin_url }}">{{ model.name }}</a></li>
                        {% else %}
                            <li>{{ model.name }}</li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>