{% extends "admin/change_form.html" %}
{% load static %}
{% load i18n admin_urls %}
{% block field_sets %}
{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}
<body>
    <script src="{% static 'js/utils.js' %}"></script>
    <div class="row">
        <div class="col-lg-12">
        <div class="row">
            {% for chart in chartData.chartData %}
            <div class="col-md-4">
                <canvas id={{chart.variant}} height=200></canvas>
            </div>
            {% endfor %}
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js'></script>

    <script>
    var geodata = {{ chartData|safe }};
    var chartData = geodata.chartData.map(function(e) {
       return e;
    });

    chartData.forEach(function(element) {
        var labels = element.labels.split(",").reverse();
        var prices = element.prices.split(",").reverse();
        var pricesMSRP = element.pricesMSRP.split(",").reverse();
        var label = element.variant;

        var ctx = document.getElementById(label).getContext('2d');

        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Prices $',
                    backgroundColor: window.chartColors.red,
                    borderColor: window.chartColors.red,
                    data: prices,
                    fill: false,
                },
                {
                    label: 'Prices MSRP $',
                    backgroundColor: window.chartColors.blue,
                    borderColor: window.chartColors.blue,
                    data: pricesMSRP,
                    fill: false,
                }]
            },
            options: {
                title: {
                    display: true,
                    text: "Variant Nr. " + label
                },
                scales: {
                    xAxes: [{
                        ticks: {
                            autoSkip: true,
                            minRotation: 90,
                            maxTicksLimit: 10,
                        }
                    }]
                }
            }
        });
    });

</script>

    <div class="panel panel-default">
        <div class="panel-heading">
        	<b>Variants</b>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Selected</th>
                            <th>Variant</th>
                            <th>Flat Rate $</th>
                            <th>Mark Up %</th>
                        </tr>
                    </thead>
                    <tbody>
                    	{% for var in variants %}
                        <tr>
                            <td>{{var.selected}}</td>
                            <td>{{var.variant}}</td>
                            <td>{{var.flat_rate}}</td>
                            <td>{{var.percentage_mark_up}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
        	<b>Price History</b>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Variant</th>
                            <th>Price $</th>
                            <th>Price MSRP $</th>
                            <th>Timestamp</th>
                        </tr>
                    </thead>
                    <tbody>
                    	{% for price in priceHistory %}
                        <tr>
                            <td>{{price.variant}}</td>
                            <td>{{price.price}}</td>
                            <td>{{price.priceMSRP}}</td>
                            <td>{{price.timestampCreated}}</td>
                        </tr>
                    	{% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>
</body>
<!-- /.panel -->
{% endblock %}